*, *::after, *::before {
    box-sizing: border-box;
  }

  html{
      background-color: olivedrab;
  }

  .container {
      margin: 0 auto;
      margin-top: 50px;
      width: 1000px;
      color: white;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 24px;
      background-color: lightgrey;
  }

  header {
      background-color: black;
      color: white;
      height: 100px;
      padding: 15px;
      border: 1.5px solid olivedrab;
      text-align: center;
  }

  nav {
    background-color: #4b4918;
    height: 100px;
    padding: 15px;
    border: 1.5px solid olivedrab;
    text-align: center;
 }

 #section{
     background-color: #E0CA3C;
     margin-top: 10px;
     margin-bottom: 10px;
     text-align: center;
     float: left;
     width: 490px;
     height: 400px;
     padding-top: 30px:
     border: 2.5px solid white;
   
 }

 #article{
     background-color: #2A415E;
     position: absolute;
     margin-top: 50px;
     margin-bottom: 300px;
     margin-left: 10px;
     margin-right: 500px;
     position: center;
     width: 470px;
    height: 310px;
}
#h1h2h3{
    width: 450px;
    height: 50px;
    background-color: #9B7362;
    margin-left: 10px;
    margin-top: 60px;
    font-size: 15px;
    padding-top: 15px;
}

#p{
    width: 450px;
    height: 50px;
    background-color: #9B7362;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 15px;
    padding-top: 2px;

}

 #aside{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #70566D;
    float: right;
    width: 490px;
    height: 400px;
    padding-top: 30px:
   
}
footer{
    clear: both;
    width: 1000px;
    background-color: #d8beed;
    height: 100px;
    padding: 10px;
    border: 1.5px solid olivedrab;
    margin: 0 auto;
    font-style: italic;
    text-align: center;
   margin-top: 10px;
   font-size: 18px;

}